<section id="tech">
    <div id="tech-box">
        <div class="logo-column">
            <div class="logo">
                <img (mouseenter)="setText($event)" src="../assets/images/HTML-logo.png" id="HTML" width="100px" height="100px" alt="HTML logo">
            </div>
            <div class="logo">
                <img (mouseenter)="setText($event)" src="../assets/images/CSS-logo.png" id="CSS" width="100px" height="100px" alt="CSS logo">
            </div>
            <div class="logo">
                <img (mouseenter)="setText($event)" src="../assets/images/JS-logo.png" id="JavaScript" width="100px" height="100px" alt="Javascript logo">
            </div>
        </div>
        <div class="logo-column">
            <div class="logo">
                <img (mouseenter)="setText($event)" src="../assets/images/jquery-logo.png" id="JQuery" width="100px" height="100px" alt="JQuery logo">
            </div>
            <div class="logo">
                <img (mouseenter)="setText($event)" src="../assets/images/node-logo.png" id="Node" width="100px" height="100px" alt="NodeJS logo">
            </div>
            <div class="logo">
                <img (mouseenter)="setText($event)" src="../assets/images/mongodb-logo.png" id="MongoDB" width="100px" height="100px" alt="MongoDB logo">
            </div>
        </div>
        <div class="logo-column">
            <div class="logo">
                <img (mouseenter)="setText($event)" src="../assets/images/react-logo.png" id="React" width="100px" height="100px" alt="ReactJS logo">
            </div>
            <div class="logo">
                <img (mouseenter)="setText($event)" src="../assets/images/python-logo.png" id="Python" width="100px" height="100px" alt="Python logo">
            </div>
            <div class="logo">
                <img (mouseenter)="setText($event)" src="../assets/images/postgres-logo.png" id="PostgreSQL" width="100px" height="100px" alt="PostgreSQL logo">
            </div>
        </div>
    </div>
    <h2 id="hovered-tech">{{techText}}</h2>
</section>
