$primary-color: #0F1A70;
$secondary-color: #ffffff;
$tertiary-color: #040806;
$accent-color: #85E4F8;

#about {
    position: absolute;
    top: 60px;
    width: 100vw;
    height: 100vh;
}

#sample-images {
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: 150px;
    top: 0;
    display: flex;
    justify-content: center;
}

#sample-images img {
    object-fit: cover;
    cursor: pointer;
    width: 29%;
    height: 100%;
}

#sample-images img:hover {
    border: 1px solid $secondary-color;
}

#about-inner {
    width: 100%;
    display: flex;
    justify-content: center;
}

#here {
    color: $primary-color;
    cursor: pointer;
}

#here:hover {
    color: $accent-color;
}

#background-box {
    position: absolute;
    width: 70%;
    height: 80%;
    border-radius: 10px;
    background-color: lightgrey;
}

#about-box {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 80%;
    border-radius: 10px;
    background-size: cover;
    z-index: 10;
    background-position: center center;
    animation: 5s fadeInOut;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0.1;
        z-index: 0;
    }
    25% {
        opacity: 1;
        z-index: 10;
    }
    75% {
        opacity: 1;
        z-index: 10;
    }
    100% {
        opacity: 0.1;
        z-index: 0;
    }
}

#text-box {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 80%;
    border-radius: 10px;
    margin: 0 auto;
    z-index: 10;
}

#text-box p {
    padding: 0 5%;
}

@media screen and (max-width: 800px) {
    p {
        font-size: 90%;
    }

    #sample-images {
        width: 100%;
    }

    #background-box, #about-box, #text-box {
        width: 100%;
    }
}