<body (window:resize)="onResize($event)">

  <header>
    <nav id="nav">
        <ul id="nav-links" *ngIf="display || !mobile">
            <li class="nav-button" id="home-button">
                <a href="">Home</a>
            </li>
            <li class="nav-button" id="about-button">
                <a href="about">About</a>
            </li>
            <li class="nav-button" id="projects-button">
                <a href="projects">Projects</a>
            </li>
            <li class="nav-button" id="tech-button">
                <a href="technologies">Technologies</a>
            </li>
            <li class="nav-button">
                <a href="assets/images/Nathan_Daniels_Resume.pdf" target="_blank">Resume</a>
            </li>
            <li class="nav-button" id="social-button">
                <a href="contact">Contact Me</a>
            </li>
        </ul>
        <i class="fas fa-ellipsis-h fa-2x" id="hamburger" (click)="hamburger()"></i>
    </nav>
  </header>
  <div class="container">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>





