<body>
  <header>
    <nav id="nav">
        <ul id="nav-links">
            <li class="nav-button" id="home-button">
                <a href="#">Home</a>
            </li>
            <li class="nav-button" id="about-button">
                <a href="#">About</a>
            </li>
            <li class="nav-button" id="projects-button">
                <a href="#">Projects</a>
            </li>
            <li class="nav-button" id="tech-button">
                <a href="#">Technologies</a>
            </li>
            <li class="nav-button">
                <a href="./images/Nathan_Daniels_Resume.pdf" target="_blank">Resume</a>
            </li>
            <li class="nav-button" id="social-button">
                <a href="#">Contact Me</a>
            </li>
        </ul>
        <i class="fas fa-ellipsis-h fa-2x" id="hamburger"></i>
    </nav>
  </header>
  <div class="container">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>




